# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_NAME=p2db
DB_USER=p2user
DB_PASS=p2pass

# BetterStack Logtail
BETTERSTACK_URL=BETTERSTACK_URL=https://in.logs.betterstack.com/ingest/3kwqkbxAt6uTSBLZ2i3G8sq9

# Configurações de Email (para notificações)
EMAIL_USERNAME=seu_email@gmail.com
EMAIL_PASSWORD=sua_senha_app
NOTIFICATION_EMAIL=email_notificacoes@gmail.com 